.expense-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 3rem;
  border: 1px solid #0056b3;
}

.form-label {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-input {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.form-checkbox-label {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-checkbox-input {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.button {
  background-color: #0b0b0c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(283, 58%, 66%);
}
