.expense-List-container {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  padding: 1rem;
  margin: 3rem;
  border: 1px solid hwb(210 33% 36%);
}

.expense-list {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
}

.expense-item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.expense-item h3 {
  margin: 0;
}

.expense-item p {
  margin: 0.5rem 0;
}

.expense-item p:last-child {
  margin-bottom: 0;
}
